<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eShop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
</head>
<body>
<div id="app">
    <header>
        <h1 class="shop-heading">Shop</h1>
        <form class="search">
            <input type="text" class="goods-search" v-model="searchLine"/>
            <button class="search-button btn btn-light" type="submit" @click.prevent="filter(searchLine)">Искать
            </button>
        </form>
        <button type="button" class="cart-button" @click="isVisibleCart=!isVisibleCart">Корзина</button>
        <input type="checkbox" name="cart" id="cart">
    </header>
    <main>
        <div v-if="isVisibleCart" class="cart-list">
            <div>
                <div class="cart-list-goods" v-for="product of cart" :key="cart.id_product">
                    <div class="cart-item" :data-id="cart.id_product">
                        <div class="product-bio">
                            <figure><img :src="imgCatalog" alt="product"></figure>
                            <figcaption>
                                <h3>{{product.product_name}}</h3>
                                <p class="product-quantity">Кол-во: {{product.quantity}}</p>
                                <p>Цена: {{product.price}} за ед.</p>
                            </figcaption>
                        </div>
                        <div class="right-block">
                            <p class="product-price">{{product.quantity * product.price}}</p>
                            <button class="del-btn" @click="removeProduct(product); amount--" data-id="${this.id_product}">&#10006;</button>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="cart-heading">Всего товаров: {{amount}}</h1>
            <h1 class="cart-heading">Итого: {{final_price}}</h1>
        </div>
        <div class="goods-list">
            <div class="good-item" v-for="product of products" :key="product.id_product" :data-id="product.id_product">
                <img :src="imgCatalog" alt="image">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}</p>
                    <button class="cart-button" @click="addProduct(product); amount++">Купить</button>
                </div>
            </div>
            <h3 v-if="emptyList">Возникла ошибка</h3>
        </div>
    </main>
</div>
</body>
</html>

